{{define "main"}}
<main>
    <!-- Main heading and subheading text -->
    <section id="home" class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1 style="text-align: center;">FSCI Jitsi Meet Crowdfunding Campaign</h1>
                <br>
                <p>Jitsi Meet is a privacy respecting, 100% Free Software video conferencing solution that you can use all day, every day, with no account needed. Donating to this campaign helps us to host the service at <a href="https://meet.fsci.in" class='rem-underline'>meet.fsci.in</a>.</p>
            </div>
        </div>
    </section>

    <!-- Peertube video  -->
    <section id="home" class="presentation">
        <div class="introduction">
                <div class="video-frame">
                    <iframe sandbox="allow-scripts allow-popups" class="video-embed"
                        src="https://peertube.social/videos/embed/a2ae8fd3-e5d9-4198-afbe-91c6d348cf95" frameborder="0" allowfullscreen>
                    </iframe>
            </div>
        </div>
    </section>
        
    <!-- Short text and read more link -->
    <section id="statements">
        <div class="statements-section">
            <div class="statement">
                <p class="shortSummary"> 
                    Currently, most one on one personal chats and group meetings are conducted using “free = gratis” proprietary services like WhatsApp, Google Meet, Zoom, Microsoft Teams, Skype, etc. which collect and aggregate digital data and metadata.
                    It is therefore important to own our means of digital communications whether you are an individual or an organization. 
                    
                    Jitsi is a secure, fully-featured video conferencing solution that can be used over mobile devices and desktop. 
                    
                    This service, like others from FSCI, is set up and maintained by a group of volunteers who want to spread the message of software freedom to everyone while protecting their privacy.
                    
                    <br>
                    If you are interested in using the service and the ideals behind running it, donate towards the crowdfunding target amount of 62,500 INR which will cover the cost of running it on a server for 24 months.   

                    The service is running on a Hetzner CPX31 server costing 14.76 Euros/month. It is hosted in their Helsinki, Finland datacenter with 4 vCPU, 8 GB RAM, 160 GB disk space and 20 TB of bandwidth. 
                </p>
                <h3><a class="link" href="/blog/why-support">Read more</a><br></h3>
                <br>
                <h3><a class="link" href="https://fsf.org.in/article/better-than-zoom/">Also read FSF India article on Free Software powered services</a><br></h3>
            </div>
        </div>
    </section>

    <!-- Donate Now -->
    <section id="Donate" class="services">
        <h1>Donate</h1>
        <p class="presentation">Kiran, a FSCI member, has volunteered his bank account for receiving funds for this campaign. The amount collected towards the target of 62500 will be updated on <a href="/contributors/">contributors page</a> and in the next section.</p>
        <div class="other-services">
            <div class="service-block">
                <h2>Account Details</h2>
                Name: Kiran S Kunjumon <br>
                Account No: 67217967805  <br>
                Bank Branch: SBI Cochin University <br>
                IFSC Code: SBIN0070235 <br>
                UPI ID: 8301817411@sbi
                <br>
                <p>
                    <!-- Change this value for percentage -->
                    <i>---------57% raised---------</i>
                
                <!-- Change value to amount collected -->
                <progress value="35,851" max="62500" style="width: 95%; height: 20px"></progress>
                <br>
                <b>Amount Raised:</b> 
                <span>35,851 of 62,500 INR goal</span> <br>
                Detailed <a href="/contributors/" style="color: blue;">list of contributions</a>.
                </p>
            </div>
        </div>
    </section>

    

    <!-- Spacing the old school way -->
    <br>
    <br>
    <br>
    <br>

    <!-- Big circles for background -->
    <div class="circles">
        <img class="small-circle" src='{{"img/smallcircle.svg" | absURL}}' alt="" />
        <img class="big-circle" src='{{"img/bigcircle.svg" | absURL}}' alt="" />
        <img class="bigger-circle" src='{{"img/biggercircle.svg" | absURL}}' alt="" />
    </div>

    <!-- FSCI's logo and description  -->
    <section class="services">
        <div class="column .fsci-section-bottom-padding" style="background-color:#EFECEA;">
            <img src='{{"img/fsci.png" | absURL}}' alt="FSCI logo" style="width:200px; height:auto;"/>
            <h2>FREE SOFTWARE COMMUNITY OF INDIA</h2>
            <p>
                <h4 class="column-text">
                    <a href="https://fsci.in/" class='rem-underline'>Free Software Community of India</a> is a collective of Free Software users, advocates and developers.
                    We maintain communication and collaboration infrastructure for everyone like <a class='rem-underline' href="https://poddery.com/">diaspora* pod</a> with additional Matrix and XMPP services, <a class='rem-underline' href="https://git.fosscommunity.in/">git repository hosting</a> powered by 100% Free Software (GitLab Community Edition), <a class='rem-underline' href="https://lists.fsci.in/">mailing lists</a>, collabrative <a class='rem-underline' href="http://wiki.fsci.org.in/">wiki</a> amongst other services that respects your freedom and privacy. We depend on donations and volunteers to run the infrastructure. We also mentor Free Software enthusiasts to become Free Software contributors.
                </h4>
            </p>
        </div>
    </section>

</main>
{{end}}
